.main {

}

.actions {
    min-width: 183px;
}

.key {
    font-family: "Consolas";
    font-size: 250%;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}

.cap-result {
    min-height: 75px;
}

.ref-text-box {
    background: #F2F2F2;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 70px;
    height: 70px;
    flex-wrap: wrap;
}

.ref-text-cap {
    font-size: 125%;
}

.ref-text-ch {
    color: #888;
}