:root {
    --transparent-dark-1: rgba(0,0,0,.108);
    --transparent-dark-2: rgba(0,0,0,.125);
    --transparent-dark-3: rgba(0,0,0,.132);
    --transparent-dark-4: rgba(0,0,0,.175);
    --gray-1: #f2f2f2;
    --gray-2: #eee;
}

.box {
    background-color: var(--bs-white);
    border: 1px solid var(--gray-2);
    padding: 1.8rem;
    box-shadow: 0 1.6px 3.6px 0 var(--transparent-dark-3),0 .3px .9px 0 var(--transparent-dark-1);
    border-radius: 3px;
}

body {
    background: #F2F2F2;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }