@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.actions {
    min-width: 183px;
}

.key {
    font-family: "Consolas";
    font-size: 250%;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
}

.cap-result {
    min-height: 75px;
}

.ref-text-box {
    background: #F2F2F2;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 70px;
    height: 70px;
    flex-wrap: wrap;
}

.ref-text-cap {
    font-size: 125%;
}

.ref-text-ch {
    color: #888;
}